.menu__button, .greeting-area__button, .greeting-area-button-container__button, .promotion-text__button, .product__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2d635e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.menu__button .greeting-area__button .greeting-area-button-container__button .promotion-text__button .product__button:hover {
  background-color: #444a4a;
}

h1, h2, h3 {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
  text-align: center;
}

h4 {
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 40px;
}

.section-1-column-1 {
  flex: 1;
}

.section-1-column-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting-area {
  text-align: left;
}

.greeting-area__tagline {
  margin-bottom: 20px;
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #444a4a;
}

.greeting-area__name {
  margin-bottom: 20px;
}

.greeting-area-button-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-area-button-container__button_order-here-arrow {
  display: none;
}

.arrow-link {
  background-color: #e3ebe7;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.arrow-link img {
  width: 24px;
  height: 24px;
}

.greeting-pic {
  position: relative;
}

.greeting-pic__image_coffee-mill {
  width: 300px;
  height: auto;
}

.greeting-pic__rectangle {
  background-color: #e3ebe7;
  width: 410px;
  height: 466px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.links-link {
  list-style-type: none;
  margin-bottom: 10px;
}

.links__link img {
  width: 30px;
  height: 30px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}

.socials__caption {
  writing-mode: vertical-rl;
  transform: rotate(-90deg);
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #444a4a;
  position: absolute;
  right: -50px;
  top: 50%;
  transform-origin: center;
}

.section-2 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 40px;
}

.about-us-pic {
  position: relative;
  width: 410px;
  height: 340px;
}

.about-us-pic__image_cup {
  position: relative;
  stroke-width: 4px;
  stroke: #af9283;
  width: 90%;
  display: block;
  left: 6%;
  bottom: -32%;
}

.about-us-pic__rectangle {
  background-color: #fae9e0;
  width: 380px;
  height: 287px;
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}

.about-us-pic__heading {
  position: absolute;
  left: -20px;
  top: 11%;
  transform: rotate(270deg) translateY(-50%);
}

.about-us-text {
  flex: 1;
  margin-right: 20px;
}

.about-us-text__title {
  margin-bottom: 10px;
}

.about-us-text__caption-1, .about-us-text__caption-2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
  margin-bottom: 20px;
}

.section-3 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 40px;
}

.promotion-text {
  flex: 1;
  margin-right: 20px;
}

.promotion-text__title {
  margin-bottom: 10px;
}

.promotion-text__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
  margin-bottom: 20px;
}

.promotion-pic {
  position: relative;
  width: 410px;
  height: 320px;
}

.promotion-pic__image_big-cup {
  position: relative;
  width: 60%;
  display: block;
  left: 15%;
}

.promotion-pic__rectangle {
  background-color: #e3ebe7;
  width: 410px;
  height: 276px;
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}

.promotion-pic__heading {
  position: absolute;
  right: -75px;
  top: 10%;
  transform: rotate(270deg) translateY(-50%);
}

.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F7F6;
  gap: 20px;
  padding: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F4F7F6;
  cursor: pointer;
  text-decoration: none;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.product {
  box-shadow: 0 23px 34px 0 rgba(35, 57, 55, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.product__title {
  margin-bottom: 10px;
}

.product__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  text-align: center;
  color: #444a4a;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .about-us-pic__heading, .promotion-pic__heading, .map__heading {
    display: none;
  }
  .section-1 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .section-1-column-1, .section-1-column-2 {
    flex: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .greeting-area__tagline {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
  }
  h1 {
    font-size: 54px;
    text-align: center;
  }
  .greeting-area__name {
    font-size: 36px;
  }
  .greeting-area-button-container__button_order-here-arrow {
    display: block;
    font-size: 16px;
  }
  .greeting-area__button, .section-1-column-2, .promotion-text__button_order-now {
    display: none;
  }
  .section-2 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .about-us-pic {
    width: 380px;
    height: 277px;
  }
  .about-us-pic__image_cup {
    width: 85%;
    display: block;
    stroke-width: 4px;
    stroke: #444a4a;
    top: -3%;
  }
  .about-us-pic__rectangle {
    width: 380px;
    height: 248px;
    position: absolute;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
}

.header, .section-1, .section-2, .section-3, .section-4, .section-5 {
  padding: 16px;
}

/*# sourceMappingURL=index.css.map */
