* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
}

.menu__button, .greeting-area__button, .greeting-area-button-container__button, .promotion-text__button, .product__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2d635e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.menu__button .greeting-area__button .greeting-area-button-container__button .promotion-text__button .product__button:hover {
  background-color: #444a4a;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

h1 {
  font-size: 63px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
  text-align: center;
}

h4 {
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin: 40px;
}

.logo__pic {
  height: 37px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.logo__text {
  height: 50px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 50px;
}

.menu__button {
  margin-bottom: 15px;
}

@media (max-width: 720px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .menu {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .menu ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    margin-left: 0;
    margin-top: 10px;
  }
  .menu a,
  .menu__button {
    width: 100%;
    text-align: left;
  }
}
.section-1 {
  display: flex;
  justify-content: space-between;
  margin: 120px;
  margin-bottom: 120px;
}

.section-1-column-1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}

.section-1-column-2 {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  width: 55%;
  max-width: 601px;
}

.greeting-area {
  text-align: left;
}

.greeting-area__tagline {
  margin-bottom: 40px;
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #444a4a;
}

.greeting-area__name {
  margin-bottom: 40px;
}

.greeting-area-button-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-area-button-container__button_order-here-arrow {
  display: none;
}

.pic-arrow {
  width: 159px;
  height: 157px;
  background-color: #e3ebe7;
  opacity: 0.4;
  display: flex;
  position: relative;
  bottom: 45px;
}

.pic-arrow__link {
  align-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #444a4a;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 50px 60px;
}

.greeting-pic {
  position: relative;
  min-width: 410px;
  min-height: 513px;
}

.greeting-pic__image_coffee-mill {
  width: 100%;
  max-width: 373px;
  height: auto;
  position: relative;
  left: 7%;
  top: 40%;
}

.greeting-pic__rectangle {
  background-color: #e3ebe7;
  width: 100%;
  min-width: 380px;
  height: 466px;
  min-height: 269px;
  position: absolute;
  z-index: -1;
}

.socials {
  min-width: 64px;
  min-height: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: 45px;
}

.socials-caption {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center;
}

.socials-caption__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #444a4a;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-link {
  list-style-type: none;
  margin-bottom: 10px;
}

.links__link img {
  width: 30px;
  height: 30px;
}

.section-2 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 120px;
  margin-right: 152px;
  margin-bottom: 100px;
}

.about-us-pic {
  position: relative;
  width: 30%;
  min-width: 392px;
  min-height: 340px;
}

.about-us-pic__image_cup {
  position: relative;
  stroke-width: 4px;
  stroke: #af9283;
  width: 100%;
  max-width: 364px;
  height: auto;
  display: block;
  left: 6%;
  top: 32%;
}

.about-us-pic__rectangle {
  background-color: #fae9e0;
  width: 380px;
  height: 287px;
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}

.about-us-pic__heading {
  position: absolute;
  min-width: 36px;
  right: 70%;
  top: 14%;
  transform: rotate(270deg) translateY(-50%);
}

.about-us-text {
  flex: 1;
  width: 70%;
  margin-left: 40px;
}

.about-us-text__title {
  margin-bottom: 10px;
}

.about-us-text__caption-1,
.about-us-text__caption-2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
  margin-bottom: 20px;
}

.section-3 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 120px;
  margin-right: 152px;
  margin-bottom: 50px;
}

.promotion-text {
  flex: 1;
  width: 70%;
  margin-right: 40px;
}

.promotion-text__title {
  margin-bottom: 10px;
}

.promotion-text__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
  margin-bottom: 20px;
}

.promotion-pic {
  position: relative;
  width: 30%;
  min-width: 428px;
  min-height: 320px;
}

.promotion-pic__image_big-cup {
  position: relative;
  width: 100%;
  max-width: 236px;
  height: auto;
  display: block;
  left: 15%;
}

.promotion-pic__rectangle {
  background-color: #e3ebe7;
  width: 410px;
  height: 276px;
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}

.promotion-pic__heading {
  position: absolute;
  left: 85%;
  top: 13%;
  transform: rotate(270deg) translateY(-50%);
}

.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f6;
  gap: 20px;
  padding: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f4f7f6;
  cursor: pointer;
  text-decoration: none;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.product {
  box-shadow: 0 23px 34px 0 rgba(35, 57, 55, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.product__title {
  margin-bottom: 10px;
}

.product__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  text-align: center;
  color: #444a4a;
  margin-bottom: 20px;
}

@media (max-width: 420px) {
  .section-1 {
    margin: 20px;
  }
  .greeting-area__tagline {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .greeting-area__name {
    margin-bottom: 20px;
  }
  .socials-caption__text {
    font-size: 25px;
  }
  .section-2 {
    margin-left: 20px;
    margin-right: 52px;
    margin-bottom: 70px;
  }
  .about-us-text {
    margin-left: 20px;
  }
  .about-us-text__caption-1, .about-us-text__caption-2, .promotion-text__caption {
    margin-bottom: 10px;
  }
  .section-3 {
    margin-left: 20px;
    margin-right: 52px;
    margin-bottom: 20px;
  }
  .promotion-text {
    margin-right: 20px;
  }
}
@media (max-width: 375px) {
<<<<<<< HEAD
  .body {
    display: flex;
  }
  .body, .section-1, .section-2, .section-3, .section-4 {
    flex-direction: column;
    align-items: center;
  }
  .about-us-pic__heading, .promotion-pic__heading, .map__heading, .greeting-area__button, .promotion-text__button_order-now, .section-1-column-2 {
=======
  .about-us-pic__heading,
  .promotion-pic__heading,
  .map__heading {
>>>>>>> 57fa35a6786830198e3e878dd9d56b605f490f42
    display: none;
  }
  .section-1 {
    flex-direction: column;
    align-items: center;
  }
<<<<<<< HEAD
  .section-1-column-1 {
    width: 100%;
=======
  .section-1-column-1,
  .section-1-column-2 {
>>>>>>> 57fa35a6786830198e3e878dd9d56b605f490f42
    flex: none;
    padding: 0;
    text-align: center;
  }
  .greeting-area__tagline {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
  }
  h1 {
    font-size: 54px;
    text-align: center;
  }
  .greeting-area__name {
    font-size: 36px;
  }
  .greeting-area-button-container__button_order-here-arrow {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
<<<<<<< HEAD
=======
  .greeting-area__button,
  .section-1-column-2,
  .promotion-text__button_order-now {
    display: none;
  }
  .section-2 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .about-us-pic {
    width: 380px;
    height: 277px;
  }
  .about-us-pic__image_cup {
    width: 85%;
    display: block;
    stroke-width: 4px;
    stroke: #444a4a;
    top: -3%;
  }
  .about-us-pic__rectangle {
    width: 380px;
    height: 248px;
    position: absolute;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
}

.header, .section-1, .section-2, .section-3, .section-4, .section-5 {
  padding: 16px;
>>>>>>> 57fa35a6786830198e3e878dd9d56b605f490f42
}

/*# sourceMappingURL=index.css.map */
