// <!-- Раздел сайта блок "section-2" - Арина -->
// <!-- Раздел сайта блок "section-3" - Настя -->
.section-3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black; /* не забыть убрать */
}
.promotion-text {
    border: 1px solid black; /* не забыть убрать */
}
.promotion-text__button {
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    width: 235px;
    height: 54px;
    cursor: pointer; 
}
.promotion-pic {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* не забыть убрать */
    width: 410px;
    height: 276px;
}
.promotion-pic__rectangle {
    background-color: #E3EBE7;
    width: 410px;
    height: 276px;
    background-size: contain;
    top: 20%;
}
.promotion-pic__rectangle img {
    position: relative; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем картинку */
    width: 236px; 
    height: 320px;
}

// <!-- Раздел сайта блок "section-4" - Раиса -->