// <!-- Раздел сайта блок "header" - Раиса -->
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  align-items: center;
  margin: 40px;
}
.logo__pic {
  height: 37px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.logo__text {
  height: 50px;
  margin-bottom: 20px;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu li {
  margin-left: 20px;
}
.menu a {
  text-decoration: none;
  font-family: $font-family;
  color: $main---black;
  font-size: 16px;
  font-weight: 400;
  padding: 50px;
}
.menu__button {
  margin-bottom: 15px;
}
//Планшет - 720px
@media (max-width: 720px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .menu ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin-left: 0;
    margin-top: 10px;
  }

  .menu a,
  .menu__button {
    width: 100%;
    text-align: left;
  }
}

//Телефон - 375px
