// Раздел сайта блок "section-1" - Настя
.section-1 {
  display: flex;
  justify-content: space-between;
  // flex-direction: row;
  // position: relative;
  // align-items: center;
  // padding: 50px;
  padding: 20px;
  margin: 40px;
}
.section-1-column-1 {
  // position: relative;
  flex: 1;
}
.section-1-column-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.greeting-area {
  text-align: left;
  // flex: 1;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   padding: 20px;
}
.greeting-area__tagline {
  margin-bottom: 20px;
  font-family: $third-family;
  font-weight: 400;
  font-size: 28px;
  color: $secondary---hard-green;
}
.greeting-area__name {
  margin-bottom: 20px;
}
.greeting-area__button {
  margin-right: 10px;
}
.greeting-area__button_order-here-arrow {
  display: none;
}
.arrow-link {
// background-size: 159px 157px;
background-color: $secondary---light-gray;
// opacity: 0.4;

width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
cursor: pointer;
}
.arrow-link img {
  width: 24px;
  height: 24px;
}
.greeting-pic {
    // flex: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  position: relative;
  // display: inline-block;
  // width: 410px;
  // height: 513px;
}
.greeting-pic__image_coffee-mill {
    width: 300px;
    height: auto;
  // position: relative;
  // width: 90%;
  // display: block;
  // left: 6%;
  // bottom: -32%;

  // max-width: 100%;
  // height: auto;
}
.greeting-pic__rectangle {
  background-color: $secondary---light-gray;
  width: 410px;
  height: 466px; 
  position: absolute;
  top: 50px;
left: 50px;
  // top: 9%;
  // left: 0;
  z-index: -1;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // position: absolute;
    // right: -50px;
    // top: 50%;
    // transform: translateY(-50%);

    margin-bottom: 20px;
}
.links-link {
  // list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 10px;

    list-style-type: none;
    margin-bottom: 10px;
}
.links__link img {
  width: 30px;
  height: 30px;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
top: 50px;
}
.socials__caption {
  writing-mode: vertical-rl;
    transform: rotate(-90deg);
    margin: 0;
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    color: $secondary---hard-green;


    position: absolute;
    right: -50px;
    top: 50%;
    transform-origin: center;
}
// <!-- Раздел сайта блок "section-2" - Настя -->
.section-2 {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  padding: 20px;
  margin: 40px;
}
.about-us-pic {
  position: relative;
  // display: inline-block;
  width: 410px;
  height: 340px;
}
.about-us-pic__image_cup {
  position: relative;
  stroke-width: 4px;
  stroke: #af9283; // смена цвета картинки по макету Figma для .svg картинки
  width: 90%;
  display: block;
  left: 6%;
  bottom: -32%;
}
.about-us-pic__rectangle {
  background-color: $primary---yellow-pink;
  width: 380px;
  height: 287px; 
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}
.about-us-pic__heading {
  position: absolute;
  left: -20px;
  top: 11%;
  transform: rotate(270deg) translateY(-50%);    
}
.about-us-text {
  flex: 1;
  margin-right: 20px;
}
.about-us-text__title {
  margin-bottom: 10px;
}
.about-us-text__caption-1, .about-us-text__caption-2 {
  font-family: $second-family;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: $secondary---hard-green;
  margin-bottom: 20px;
}

// <!-- Раздел сайта блок "section-3" - Настя -->
.section-3 {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  padding: 20px;
  margin: 40px;
}
.promotion-text {
  flex: 1;
  margin-right: 20px;
}
.promotion-text__title {
  margin-bottom: 10px;
}
.promotion-text__caption {
  font-family: $second-family;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: $secondary---hard-green;
  margin-bottom: 20px;
}
// .promotion-text__button {   Перевела папаметры кнопки в коммментарии, так как ввела стилизацию для всех кнопок сайта 
//   padding: 10px 20px;       в variables.scss. Потом можно удалить этот кусок. - Настя
//   background-color: #2D635E;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 1em;
// }
// .promotion-text__button:hover {
//   background-color: #00332c;
// }
.promotion-pic {
  position: relative;
  // display: inline-block;
  width: 410px;
  height: 320px;
}
.promotion-pic__image_big-cup {
  position: relative;
  width: 60%;
  display: block;
  left: 15%;
}
.promotion-pic__rectangle {
  background-color: $secondary---light-gray;
  width: 410px;
  height: 276px; 
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}
.promotion-pic__heading {
  position: absolute;
  right: -75px;
  top: 10%;
  transform: rotate(270deg) translateY(-50%);    
}

// <!-- Раздел сайта блок "section-4" - Раиса (откорректировала Настя с учетом ввода переменных шрифтов и цветов) -->
.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary---light-green;
  gap: 20px;
  padding: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary---light-green;
  cursor: pointer;
  text-decoration: none;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.product {
  box-shadow: 0 23px 34px 0 rgba(35, 57, 55, 0.17);
  background: $main---white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.product__title {
  margin-bottom: 10px;
}

.product__caption {
  font-family: $second-family;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  text-align: center;
  color: $secondary---hard-green;
  margin-bottom: 20px;
}

// .product__button {             Перевела папаметры кнопки в коммментарии, так как ввела стилизацию для всех кнопок сайта 
//   background-color: #004d40;  в variables.scss. Потом можно удалить этот кусок. - Настя
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 10px;
//   font-family: "Arial", sans-serif; /* Временный шрифт */
//   font-size: 1em;
//   cursor: pointer;
// }

// .product__button:hover {
//   background-color: #00332c;
// }

// Медиазапросы
/* Медиа-запрос для экранов шириной 375px */
@media (max-width: 375px) {
  .section-1 {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .section-1-column-1, .section-1-column-2 {
      flex: none;
      padding: 0;
      width: 100%;
      text-align: center;
  }

  .greeting-area__tagline {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
  }
  h1 {
    font-size: 54px;
    text-align: center;
  }

  .greeting-area__name {
      font-size: 36px;
  }

  .greeting-area__button_order-here-arrow {
      display: block;
      // margin: 10px 0;
      // width: 80%;
      font-size: 16px;
  }

  .greeting-area__button_order-here, .section-1-column-2 {
      display: none;
  }
}