// Переменные для шрифтов и цветов - Настя
$font-family: "Josefin Sans", sans-serif;
$second-family: "Alegreya Sans", sans-serif;
$third-family: "Cedarville Cursive", sans-serif;
$font3: "Varela Round", sans-serif; // замена George Round на бесплатный Varela Round
$font4: "Roboto", sans-serif;
$primary---green: #2d635e;
$primary---yellow-pink: #fae9e0;
$secondary---light-gray: #e3ebe7;
$secondary---hard-green: #444a4a;
$secondary---light-green: #f4f7f6; // ввела дополнительный цвет для упрощения создания фона в section-4
$main---black: #000;
$main---white: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $second-family;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: $secondary---hard-green;
}


// Стиль кнопок - Настя - кнопка меню отличается шрифтом, поэтому вынесла ее отдельно - Раиса
.menu__button {
  display: inline-block; // ?
  padding: 15px 33px;
  background-color: $primary---green;
  color: $main---white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font-family;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: $main---white;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 23px 34px 0 rgba(25, 47, 45, 0.15);
}

// Стиль кнопок - Настя
.greeting-area__button,
.greeting-area-button-container__button,
.promotion-text__button,
.product__button {
  display: inline-block; // ?
  padding: 10px 20px;
  background-color: $primary---green;
  color: $main---white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font3;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: $main---white;
  text-align: center;
  text-decoration: none;
  // transition: background-color 0.3s ease; // ?
}
.menu__button
  .greeting-area__button
  .greeting-area-button-container__button
  .promotion-text__button
  .product__button:hover {
  background-color: $secondary---hard-green;
}
// Стили заголовков - Настя
h1,
h2,
h3 {
  font-weight: 500; // по макету 700, но 500 больше похож на визуальное отображение в макете
  font-family: $font-family;
  color: $main---black;
}
h1 {
  font-size: 63px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 28px;
  text-align: center;
}
h4 {
  font-family: $third-family;
  font-weight: 400;
  font-size: 28px;
  color: $main---black;
}

.addresses__title{
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  color: #000;}

  .addresses__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2d635e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-align: center;
    text-decoration: none;}