.menu__button, .greeting-area__button, .promotion-text__button, .product__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2d635e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.menu__button .greeting-area__button .promotion-text__button .product__button:hover {
  background-color: #444a4a;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

h1 {
  font-weight: 700;
  font-size: 63px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

h4 {
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 40px;
}

.promotion-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.promotion-text__title {
  margin-bottom: 10px;
}

.promotion-text__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  color: #444a4a;
  margin-bottom: 20px;
}

.promotion-pic {
  position: relative;
  width: 410px;
  height: 320px;
}

.promotion-pic__image_big-cup {
  position: relative;
  width: 60%;
  display: block;
  left: 15%;
}

.promotion-pic__rectangle {
  background-color: #e3ebe7;
  width: 410px;
  height: 276px;
  position: absolute;
  top: 9%;
  left: 0;
  z-index: -1;
}

.promotion-pic__heading {
  position: absolute;
  right: -45px;
  top: 10%;
  -webkit-transform: rotate(270deg) translateY(-50%);
          transform: rotate(270deg) translateY(-50%);
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F4F7F6;
  gap: 20px;
  padding: 20px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F4F7F6;
  cursor: pointer;
  text-decoration: none;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.product {
  -webkit-box-shadow: 0 23px 34px 0 rgba(35, 57, 55, 0.17);
          box-shadow: 0 23px 34px 0 rgba(35, 57, 55, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.product__title {
  margin-bottom: 10px;
}

.product__caption {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 189%;
  letter-spacing: 0em;
  text-align: center;
  color: #444a4a;
  margin-bottom: 20px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-direction: column;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*background-color: blue ;*/
  margin-left: 32px;
  margin-right: 278px;
  width: 100%;
  margin-top: 30px;
}

.map {
  width: 50%;
}

.map__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 351px;
  width: 646px;
  margin-left: 120px;
}

.stripe {
  /*background-color: yellow;*/
  padding: 15px;
  -webkit-box-flex: 1fr;
      -ms-flex-positive: 1fr;
          flex-grow: 1fr;
  /*width: 176px;*/
}

.addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*background-color: yellowgreen;*/
  -webkit-box-flex: 1fr;
      -ms-flex-positive: 1fr;
          flex-grow: 1fr;
  width: 221px;
  height: 258px;
  /*margin-left: 942px;*/
  /*margin-top: 35px;*/
}

.addresses__title {
  margin-top: 15px;
  padding: 5px;
}

.addresses__address-1 {
  padding: 5px;
}

.addresses__address-2 {
  padding: 5px;
}

.addresses__address-3 {
  padding: 5px;
}

.addresses__address-4 {
  padding: 5px;
}

.copyright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.section-1, .section-2, .section-3, .section-4, .section-5 {
  padding: 16px;
}